@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');


body, html {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  /* color: #fff; */
  text-decoration: none;
}

.formulario {
    width: 300px;
    height: 100%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #cfb896;
    /* background-color: #1e2530; */
    /* color: #fff; */
    /* box-shadow: 5px 5px 10px 5px #444; */
  }
  
  .formulario input[type="email"],
  .formulario input[type="password"],
  .formulario input[type="text"],
  .formulario input[type="date"],
  .formulario input[type="file"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    /* border: 1px solid #cfb896; */
  }
  
  .formulario input[type="submit"], button  {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #2a2a69;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
  }


  .formulario button:hover{
    background-color: #222;
    padding: 15px;
    color: #fff;

  }

  .formulario a{
    text-decoration: none;
    text-align: center;
    padding: 15px;
    padding-bottom: 15px;
    /* color: #fff; */
    margin-top: 30px;
}
  
.formulario h1{
    font-size: 42px;
}

.formulario label{
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 50px;
}