body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  min-height: 40px;
  background-color: #333;
  color: #fff;
}

header img {
  height: auto;
}

form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

form h2 {
  text-align: center;
}

form label {
  display: inline-block;
  margin-right: 10px;
}

form input[type="date"],
form input[type="file"] {
  width: calc(50% - 5px);
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
  display: inline-block;
}


.radio-group {
  margin-bottom: 20px;
}

.radio-group label {
  margin-right: 10px;
  display: inline-block;
}

form button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}
form button:hover {
  background-color: #2a2a69
}

/* O restante do seu CSS permanece inalterado */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
